body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #444;
}

input, select, textarea {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

select[multiple] {
    height: 100px;
}

textarea {
    resize: vertical;
}

.nav-bar {
    display: flex;
    gap: 20px;
    background-color: #005f73;
    padding: 16px 24px;
    color: white;
}

.nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.sub-bar {
    display: flex;
    gap: 20px;
    background-color: #0a9396;
    padding: 12px 24px;
    color: white;
}

.action-bar {
    display: flex;
    gap: 20px;
    background-color: #94d2bd;
    padding: 12px 24px;
    color: black;
}

.hidden {
    display: none;
}

.nav-button:hover,
.sub-button:hover,
.action-button:hover {
    text-decoration: underline;
}

.sub-button,
.action-button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.action-button {
    color: black;
}

.admin-top-nav,
.admin-sub-nav {
    display: flex;
    gap: 12px;
    background-color: #f1f1f1;
    padding: 12px 20px;
    border-bottom: 1px solid #ccc;
}

.admin-sub-nav {
    margin-top: -1px;
}

.hidden {
    display: none;
}



.form-button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #005f73;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.form-button:hover  {
    background-color: #004d99;
}

.month-section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}

.total {
    font-weight: bold;
}