<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Годовой отчет</title>
    <link rel="stylesheet" th:href="@{/admin.css}">
</head>
<body>
<div th:replace="fragments/admin-header :: adminHeader"></div>

<h1>Годовой отчет за [[${report.year}]] год</h1>

<div th:each="monthReport : ${report.months}" class="month-section">
    <h2 th:text="${monthReport.monthName}">Январь</h2>

    <table>
        <thead>
        <tr>
            <th>Название книги</th>
            <th>Количество</th>
            <th>Цена за единицу</th>
            <th>Итого</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${monthReport.books}">
            <td th:text="${book.title}">Название</td>
            <td th:text="${book.count}">0</td>
            <td th:text="${#numbers.formatDecimal(book.unitPrice, 1, 'POINT', 2, 'POINT')}">0.00</td>
            <td th:text="${#numbers.formatDecimal(book.totalPrice, 1, 'POINT', 2, 'POINT')}">0.00</td>
        <tr>
            <td><strong>ИТОГО</strong></td>
            <td>-</td>
            <td>—</td>
            <td th:text="${#numbers.formatDecimal(monthReport.totalIncome, 1, 'POINT', 2, 'POINT')}">0.00</td>
        </tr>
        </tr>
        </tbody>
    </table>
</div>

<div class="month-section">
<h3>Общий отчёт по книгам за [[${report.year}]] год</h3>
<table>
    <thead>
    <tr>
        <th>Название книги</th>
        <th>Количество</th>
        <th>Цена за 1</th>
        <th>Итого</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${report.yearlyBooksSummary}">
        <td th:text="${book.title}">Название</td>
        <td th:text="${book.count}">0</td>
        <td th:text="${book.unitPrice}">0.00</td>
        <td th:text="${book.totalPrice}">0.00</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><strong>ИТОГО</strong></td>
        <td th:text="${report.totalBookCount}">0</td>
        <td>—</td>
        <td th:text="${report.totalBookRevenue}">0.00</td>
    </tr>
    </tfoot>
</table>

</div>
    <a th:href="@{/admin/report/generate-pdf?year=2025}" class="form-button" style="background-color: #005f73;">Скачать отчёт</a></p>
</body>
</html>
